.Fullpage2 {
    /* width: 100vw; */
    height: 100vh;    
}

.ImageSec2 {
    width: 30% !important;
    float: left;
    height: inherit;
}

.AboutSec {    
    width: 70% !important;
    float: right;
    padding: 14% 2%;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 85%;
}

.AboutSec p {
    font-size: 22px;
    font-weight: 500;
    font-style: bold;
}

.SecondSec {
    /* background: white; */
    font-weight: 500;
}