.Skillpage {
    height: 100vh;
    /* background: #ffcc80; */
    /* padding: 5% 10%;     */
}

.Skillpage h1 {
    padding-top: 1%;
}

.Skillcard {
    width: 15% !important;
    height: 75% !important;
    background-color: white;
    margin: 2% !important;
    float: left !important;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;    
}

.CardSec .Skillcard:hover {
    box-shadow: 15px 15px 15px 6px rgba(0, 0, 0, 0.2);
}

.SkillImage {
    margin-left: 23%;
    max-height: 300px !important;
    max-width: 300px !important;    
    margin-top: 1.9%;
}

.Skilltitle {
    bottom: 0em;
}

.CardSec {
    display: inline;
    padding: 0.5%;
    /* margin-bottom: 18% !important; */
}

.Borderset {
    /* border-top: 1px solid black !important; */
    /* color: black; */
    margin: 0 8%;
}

